{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .modal-backdrop.show, .show.blockOverlay {
    opacity: 0 !important;
}


.setmargin {
    margin-top: 2.5em;
}

.modal-backdrop, .blockOverlay {
    
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal.show  {
  
  margin-top: 3em;
  align-content:center;
  
}
</style>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-monitor icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div> Auth Users
                        <div class="page-title-subheading">This is an USAF TOOL created using build-in elements and
                            components.
                        </div>
                    </div>
                </div>

                <div class="page-title-actions">
                    <!--<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                                        <i class="fa fa-star"></i>
                                    </button>
                                   <div class="d-inline-block dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Buttons
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-inbox"></i>
                                                        <span>
                                                            Inbox
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-book"></i>
                                                        <span>
                                                            Book
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-picture"></i>
                                                        <span>
                                                            Picture
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                        <i class="nav-link-icon lnr-file-empty"></i>
                                                        <span>
                                                            File Disabled
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
									-->
                </div>
            </div>
        </div>


        <div class="tabs-animation">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                            <div>Auth Users </div>
                            <!-- <div class="btn-actions-pane-right">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="btn-shadow  btn btn-dark">Refresh</button>
                                    <button type="button" class="btn-shadow  btn btn-dark">Remove</button>
                                </div>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="dataTables_scroll">
                                             
                                            <div class="dataTables_scrollBody"
                                                style="position: relative; overflow: auto; max-height: 292px; width: 100%;">
                                                <table style="width: 100%;" id="example2"
                                                    class="table table-hover table-striped table-bordered dataTable"
                                                    role="grid">
                                                    <thead>
                                                        <tr >
                                                            <th > User Id</th>
                                                            <th > User Name</th>
                                                            <th > Email</th>
                                                            <th > User Type</th>
                                                            <th > Last login time</th>
                                                            <th > Date of Joined</th>
                                                            <th > Action</th> 
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr style="height: 0px;">
                                                            <th > User Id</th>
                                                            <th > User Name</th>
                                                            <th > Email</th>
                                                            <th > User Type</th>
                                                            <th > Last login time</th>
                                                            <th > Date of Joined</th> 
                                                            <th > Action </th> 
                                                        </tr>
                                                    </tfoot>

                                                    <tbody>
                                                         
                                                        {% for o in obj %}
                                                        <tr role="row" class="odd">
                                                            <!-- <td >{{forloop.counter}}</td> -->
                                                            <td>{{o.username}}</td>
                                                            <td>{{o.first_name}}</td>                                                           
                                                            <td>{{o.email}}</td>
                                                            <td>{{o.is_superuser}}</td>
                                                            <td>{{o.last_login }}</td>
                                                            <td>{{o.date_joined|date:'d-m-Y'}}</td>
                                                          
                                                            <td>                                     <!-- Button trigger modal -->
                                                                <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal"
                                                                    data-target="#exampleModal11" onclick="setUserField('{{o.username}}')">
                                                                    Add City
                                                                </button> </td>
                                                        </tr>

                                                        {%endfor%}

                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
<p id="err_msg1" style="font-weight: bold; font-size: 20px; color: red;">{{msg1}}</p>                                
<p id="err_msg2" style="font-weight: bold; font-size: 20px; color: blue;">{{msg2}}</p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>





  





    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 2
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-footer-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <div class="badge badge-success mr-1 ml-0">
                                    <small>NEW</small>
                                </div>
                                Footer Link 4
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade " id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    >
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add City </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="container">
                <form action="/admin_dashboard" method="POST" >
                    {% csrf_token %}  
                <div class="row">
                 
                      
                            <div class="col-md-4">
                                <div class=" form-group">
                                    <label for="exampleEmail2">User</label>
                                    <input  type="text" name="user_id"  id="user_id"  readonly value="" autocomplete="off"   placeholder="  " class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class=" form-group">
                                    <label for="examplePassword">City</label>
                                    <select name="city" class="form-control"> 

                                        
                                        {% for o  in mst_city %}
                                                                        
                                        <option>{{o.city_name}}</option>
                                        
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class=" form-group">
                                    <button type="submit" class="btn btn-primary setmargin">Save Changes</button>
                                </div>
                            </div>
                           
                </div>  
                        
            </form>
            </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->


{% block javascripts %}

<script>
    const getEl = document.querySelector("#user_id")

    function setUserField(user_name){

        getEl.value = user_name;
    }

$(document).ready(function(){

    $("#err_msg1").fadeOut(4000);
    $("#err_msg2").fadeOut(4000);


});

</script>
{% endblock javascripts %}